<div class="navbar <%= yield(:navbar_class) %>">
  <div class="container-fluid">
    <a href="/"> <i class="fa-solid fa-house"></i> </a>
    <i class="fa-solid fa-network-wired"></i>
    <a href="/rooms"> <i class="fa-solid fa-bars"></i> </a>
    <i class="fa-solid fa-calendar"></i>
    <a href="/users/sign_in" target="_blank"><i class="fa-solid fa-gear"></i> </a>
  </div>
</div>
