

<div class="banner">
  <div class="banner-content text-center">
    <h1>Sophia</h1>
<<<<<<< HEAD
    <p>L'application de messagerie géolocalisée entre voisins</p>
    <%= link_to "Entrer", rooms_path , class: "btn btn-lg btn-primary"  %>
=======
    <h1>BE REAL</h1>
>>>>>>> d35279c22d47bad463523936ef9272cfc7d8e305
  </div>
<%= content_for(:navbar_class, "navbar") %>
</div>
