<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Sophia</h1>
    <p>L'application de messagerie géolocalisée entre voisins</p>
    <%= link_to "Entrer", rooms_path , class: "btn btn-lg btn-primary"  %>
  </div>
</div>
