<div class="room-fav">
    <%# Remettre la liste à gauche à chaque changement de page? %>
    <%# data-controller="scroll-horizontal"  %>
    <%# <div data-scroll-horizontal-target="favs" style="max-width: 60vh; overflow: scroll;"> %>
      <% current_user.rooms_with_messages_in.each do |room| %>
          <%= link_to room_path(room) do %>
          <div id="mes-rooms-name"> <%= room.name %></div>
          <% end %>
      <% end %>
    <%# </div> %>
</div>
