.btn-blue {
  color: white;
  padding: 16px 24px;
  border-radius: 10px;
  font-family: 'Bebas Neue', cursive;
  background: black;
  transition: background 0.3s ease;
  }

  .btn-blue:hover {
  opacity: 1;
  background:#82A1D1;
  text-decoration: none;
  color: white;
  }
