.btn-blue {
  color: white;
  padding: 16px 24px;
  border-radius: 10px;
  font-family: 'Bebas Neue', cursive;
  background: black;
  transition: background 0.3s ease;
  }

  // .btn-blue:hover {
  // opacity: 1;
  // background:#82A1D1;
  // text-decoration: none;
  // color: white;
  // }

.btn-submit{
  border-radius: 10px;
  border: none;
  padding: 8px;
  width: 100%;
  font-family: 'Bebas Neue';
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 5px;
  color: white;
  background-color: transparent;
  padding: -1px;
  background-image: linear-gradient(to right bottom, #1a2980b5, #26d0cd7d, #d9d9d900);
}

.style-option-bouton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // pour décoller ce menu des rooms favs
  padding-top: 8px;
}

// Checkbox room nomade

.nomade-text {
  color: white!important;
}

.nomade-wrapper {
  position: absolute;
  top: 286px;
  left: 232px;
}
