.mycustominput {
}

#file-upload-button {
  background-color: blue !important;
  input {
    background-color: blue !important;
  }
}

.customform {
  flex-direction: column;
}

input[type=file] {
  background-color: rgb(11, 11, 11);
  a {
    background-color: blue;
  }
}

.message_photo {
  button {
    background-color: blue !important;
  }
}
