.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  color: white;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-top: 5px;
}

.container-fluid {
  margin: 5px;
}
