
.room-details {
  margin: 20px 36px;
  border-radius: 10px;
  padding: 15px;
  background-image: linear-gradient(to right bottom, #1a2980b5, #26d0cd7d, #d9d9d900);
}

#mes-rooms-name {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  font-size: 24px;
  border-radius: 10px;
  width: max-content;
  padding: 10px 20px;
  border: 1px solid #333;
  text-shadow: 2px 2px 5px #6ccd27;;
  margin: 10px;
  -webkit-animation: ombre ease-in infinite alternate 1.5s;
  -moz-animation: ombre ease-in infinite alternate 1.5s;
  animation: ombre ease-in infinite alternate 1.5s;

}

@-webkit-keyframes ombre {
  0% {
    box-shadow: 0 0 10px #26d0cd7d;
  }
  100% {
    box-shadow: 0 0 10px #b4f2f0;
  }
}
@-moz-keyframes ombre {
  0% {
    box-shadow: 0 0 10px #26d0cd7d;
  }
  100% {
    box-shadow: 0 0 10px #b4f2f0;
  }
}
@keyframes ombre {
  0% {
    box-shadow: 0 0 10px #26d0cd7d;
  }
  100% {
    box-shadow: 0 0 10px #b4f2f0;
  }
}

.room-fav{
  display: flex;
  margin-right: 36px;
  margin-left: 20px;
  padding: 4px;
  max-width: 100%;
  overflow: scroll;
}

.room-fav::-webkit-scrollbar {
  display: none;
}

.room-details-inacess {
  border-radius: 10px;
  margin: 20px 36px;
  padding: 15px;
  background-image: linear-gradient(to right bottom, #3f3f41b5, #29403f7d, #14101000);
}


#adress-in-room {
  margin-left: 0px;
}
