
.room-details {
  margin: 20px 36px;
  padding: 15px;
  background-image: linear-gradient(to right bottom, #1a2980b5, #26d0cd7d, #d9d9d900);
}

#mes-rooms-name {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  font-size: 24px;
  border-radius: 10px;
  width: max-content;
  padding: 10px 20px;
  margin: 10px;
  background-image: linear-gradient(to right bottom, #1a2980b5, #26d0cd7d, #d9d9d900);

}

.room-fav{
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  padding: 4px;
  max-width: 40vh;
  overflow: scroll;
}

.room-fav::-webkit-scrollbar {
  display: none;
}

.room-details-inacess {
  border-radius: 10px;
  margin: 20px 36px;
  padding: 15px;
  background-image: linear-gradient(to right bottom, #3f3f41b5, #29403f7d, #14101000);
}


#adress-in-room {
  margin-left: 0px;
}
