// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  color: white;
  // background-color: black;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
}

p{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .2rem;
  font-size: 32px;
}

.h1-show-room{
  text-shadow: 2px 2px 5px #6ccd27;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .2rem;
  font-size: 32px;
}

h2 {
  color: $light-gray1;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24Spx;
}


a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

.main-grid{
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

#trois {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// à mettre dans des partiales

.style-search-bar {
  margin: 20px 36px;
}

.style-option-bouton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // pour décoller ce menu des rooms favs
  padding-top: 8px;
}

.selected {
  // text-decoration: underline;
  // color:white;
  border-bottom: solid 1px;
}

h4 {
  background-color: black;
  color: white;
  font-family:'Times New Roman', Times, serif;
}


.index-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

#new-style{
  margin: 10px 20px;
  margin-bottom: 60px;

}

.distances {
  margin-left: 16px;
  font-family: Times New Roman;
  font-size: 18px;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 5px #6ccd27;
}

.distances1{
  margin-left: 16px;
  font-family: Times New Roman;
  font-size: 18px;
  font-style: italic;
  color: grey;
}

#adress-in-room {
  margin-left: 0px;
}

// Checkbox room nomade

.nomade-text {
  color: white!important;
}

.form-check-input {
  // TEST
  position: absolute;
  transform: scale(0);
  // fin TEST
  border-color: white!important;
}

.form-check-input + label {
  cursor: pointer;
  border: solid 1px white;
  border-radius: 10px;
  padding-inline: 14px;
  padding-block: 2px;


  // position: relative;
  // bottom: 89px;
  // left: 53px;
}

.form-check-input:checked + label {
  color: black;
  background-color: white;
  border: solid 1px black;
}

.nomade-wrapper {
  position: absolute;
  top: 434px;
  left: 60px;
}
>>>>>>> master
